.brandSkeletonCont {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brandsSlider {
    padding: 2rem 0 0 !important;

    .swiper-slide {
        text-align: center;

        a {
            color: $text_color;

            figure {
                width: 120px;
                height: 120px;
                background: #fff;
                border-radius: 100%;
                position: relative;
                overflow: hidden;
                margin: auto;
                box-shadow: 0 0 15px #0007;

                img {
                    object-fit: contain;
                    height: 100%;
                    width: 100%;
                    padding: 2rem;
                }
            }
        }
    }
}