.blogDeatilSec {
    @apply py-12 md:p-24;
    .mainHeading {
        @apply text-[2.5rem] md:text-[4rem] text-[var(--secondary-color)] font-bold leading-[3.5rem] md:leading-[5rem] mb-8;
    }

    .intractiveBar {
        @apply flex items-center justify-between;

        .user {
            @apply flex items-center gap-x-4;

            h3 {
                @apply font-bold text-[var(--secondary-color)] text-[1.5rem] m-0;
            }

            h4 {
                @apply text-[var(--text-color)] m-0 text-[#B9B9B9] font-normal;

                span {
                    @apply text-[var(--theme-color)] font-bold;
                }
            }
        }

        .intraction {
            button {
                @apply flex items-center gap-x-2;
            }

            .social {
                @apply flex items-center justify-end gap-x-2;

                a {
                    @apply bg-[var(--secondary-color)] text-[var(--white)] w-6 h-6 flex items-center justify-center rounded-full;
                }
            }
        }
    }

    .blogCont {
        @apply md:flex block items-start gap-x-4 mt-8;

        .blog {
            width: 85%;
            flex: 0 1 85%;

            @media screen and (max-width: 767.98px) {
                width: 100%;
                flex: 0 1 100%;
            }

            .mainImg {
                @apply h-[250px] sm:h-[400px] lg:h-[650px] w-full relative rounded-3xl overflow-clip;
                box-shadow: 0px 1.13px 12.77px 0px #00000016;

                box-shadow: 0px 9px 102px 0px #0000002B;

                img {
                    @apply w-full h-full object-cover;
                }
            }

            .details {
                @apply mt-5;
            }

            span {
                @apply text-[1rem] text-right block sm:text-[1.375rem] text-[#B9B9B9] font-bold ml-2;
            }

            h3 {
                @apply text-[2rem] text-[var(--secondary-color)] font-bold relative inline-block dark:text-[var(--white)] mb-6 leading-tight;
            }

            p {
                @apply text-[var(--text-color)] text-[1.125rem] font-medium leading-relaxed;

                +* {
                    @apply mt-3;
                }
            }

            table {
                @apply table bg-[#F8F8F8] my-6;

                thead {
                    @apply bg-[var(--secondary-color)];

                    th {
                        @apply text-[var(--white)] text-[1.5rem] py-2 border-2 border-[#0005] text-left px-2;
                    }
                }

                tbody {
                    tr {
                        @apply border-t-2 border-[#0005];

                        td {
                            @apply text-[1.125rem] px-2 py-1 border-[#0005];

                            +td {
                                @apply border-l-2;
                            }
                        }
                    }
                }
            }
        }

        .longAdd {
            @apply md:block hidden w-[15%] h-[1000px] rounded-2xl bg-[#E2E2E2];
        }
    }

    .adBox {
        @apply w-full h-[450px] rounded-2xl bg-[#E2E2E2] my-3;
    }
}

.userPostSec {
    @apply sm:block hidden p-0;

    .user {
        @apply border-y-2 border-[var(--secondary-color)] flex items-center py-8 justify-between gap-x-5;

        figure {
            @apply bg-[#D9D9D9] rounded-full block relative overflow-clip;
            width: 120px;
            height: 120px;
            flex: 0 1 120px;
            box-shadow: 0px 0px 23.8px 8px #0000001A;


            img {
                @apply w-full h-full object-cover;
            }
        }

        .info {
            @apply w-full;
            flex: 0 1 80%;

            h3 {
                @apply text-[2.25rem] font-bold m-0 leading-none text-[var(--secondary-color)];
            }

            h4 {
                @apply text-[1.5rem] font-semibold m-0 leading-none text-[var(--secondary-color)];
            }

            p {
                @apply mt-3 text-[1.125rem];
            }
        }

        .socials {
            @apply flex items-center justify-between flex-col gap-y-4;
            flex: 0 1 5%;
            width: 5%;

            li {
                a {
                    @apply bg-[var(--secondary-color)] text-[var(--white)] w-8 h-8 flex items-center justify-center rounded-full hover:bg-[var(--theme-color)] transition-all;
                }
            }
        }
    }
}